{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Document</title>
</head>
<body>

    <table>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data Nacimento</th>
            <th>Status</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.sobrenome}}</td>
            <td>{{usuario.data}}</td>
            <td>{{usuario.get_status_display}}</td>
        </tr>
        {% endfor %}

    </table>
    
</body>
</html>