{% load static %}
<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-start">
      {% if cards %}
        {% for imovel in cards %}
          <div class="col">
            <div class="card shadow-sm">
              <a href="{% url 'imovel' imovel.id %}">
                <title>Placeholder</title>
                {% if imovel.foto_capa %}
                  <img class="img-fluid img-thumbnail rounded" src="{{ imovel.foto_capa.url }}" alt="foto" />
                {% else %}
                  <img class="img-fluid img-thumbnail rounded" src="{% static 'assets/imagens/foto404.png' %}" alt="foto" />
                {% endif %}
              </a>
              <div class="card-body">
                <p class="card-text">{{ imovel.titulo }}</p>
                <p class="card-text">{{ imovel.resumo }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
