{% load static %}
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="{% static '/assets/imagens/icon_39x32.png' %}" alt="Logo Imobiliária Web" />
      <span class="fs-4 px-2">Imobiliária Web</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="{% url 'index' %}" class="nav-link" aria-current="page">Início</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'meus_imoveis' %}" class="nav-link">Meus Imóveis</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'novo_imovel' %}" class="nav-link">Cadastrar Imóvel</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Favoritos</a>
      </li>
      {% if not user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'entrar' %}" class="nav-link">Entrar</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'novo_usuario' %}" class="nav-link">Cadastre-se</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a href="#" class="nav-link">Quem Somos</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'sair' %}" class="nav-link">Sair</a>
        </li>
      {% endif %}
    </ul>
  </header>
  {% include 'partials/_alertas.html' %}
</div>
