{% load static %}
<search class="flex-shrink-0 p-3" style="width: 260px;">
  <ul class="list-unstyled ps-0">
    <li class="mb-1 pb-3 mb-3 border-bottom">
      <div class="pb-1">Imóveis para</div>
      <div class="container small">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
          <label class="form-check-label" for="flexCheckDefault">Alugar</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
          <label class="form-check-label" for="flexCheckChecked">Comprar</label>
        </div>
      </div>
    </li>
  </ul>
</search>
